.jk{
position: relative;left: 250px;top:-10px;
color: aquamarine;
font-size: 15px;
}
.ab{ position: relative;left: -100px;
    background-image: url("who logo 2.png");
    background-repeat: no-repeat;
    background-position:1% 1% ;
    background-size: cover;
    height: 10%;
}
.ac{
    background-image: url("mnx.jpeg");
    background-repeat: no-repeat;
    background-position: 3% 30%;
    background-size:cover;
    height: 5px;
}
.hj{
    position: relative;left:550px;top:10px;
}
.h4{
position: relative;left: 940px;color: blue;font-size: 30px;
}
.vl{
    position: relative;color:rgb(6, 125, 57);top:-150px;left:950px;font-size: 25px;
}